body {
    font-family: Arial, sans-serif;
    background-color: #f5f9f7;
    margin: 30px;
}
a {
    color: purple;
}
.main-link {
    color: green;
    font-weight: bold;
}
.mark-square {
    list-style-type: square;
}
.mark-custom-image {
    list-style-image: url("li.svg");
}
ul ul {
    list-style-type: none;
}
.mark-square a {
    text-decoration: none;
}
ol {
    list-style-position: inside;
}
ul {
    line-height: 1.8;
}
h1 {
    text-align: center;
    color: darkgreen;
}
